.navbar {
    background-image: linear-gradient(to right, #000000, #333333);
    color: white;
  }

  .navbar-brand {
    font-weight: bold;
  }



  .nav-link {
    color: white;
    margin: 0 10px;
  }

  .logo {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fcf7f7;
    text-decoration: none;
    /* Puedes agregar más estilos aquí, como tamaño de logo, colores, etc. */
}

  @media (max-width: 768px) {
    .navbar-nav {
      margin: 10px 0;
    }
  }