<input type="text" [(ngModel)]="ip" name="ip">
<button (click)="obtenerIp()" class="btn btn-success">Obtener Datos</button>
<p>{{pais}}</p>


<style>
    table {
      border-collapse: collapse;
    }
    
    td {
      border: 1px solid black;
      padding: 5px;
    }
  table {
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    padding: 5px;
  }
</style>

<table class="text-white">
  <tbody>
    <tr>
      <td colspan="2">Informacion de la ip</td>
    </tr>
    <tr>
      <td>pais :</td>
      <td>{{pais}}</td>
    </tr>
    <tr>
      <td>ciudad :</td>
      <td>{{ciudad}}</td>
    </tr>
    <tr>
      <td colspan="2">Informacion de la ubicacion IP</td>
      
    </tr>
    <tr>
      <td>fecha del lugar :</td>
      <td>{{fechaDelLugar}}</td>
    </tr>
    <tr>
        <td>Hora del lugar</td>
        <td>{{horaDelLugar  }}</td>
      </tr>
      <tr>
        {{lat}}
        {{long}}
     
    <tr>
        <td colspan="2"> <a [href]="'https://maps.google.com/?q=' + lat + ',' + long">Ir al Link</a></td>
    </tr>
  </tbody>
</table>

  
  
  
  
  