
<input type="text" [(ngModel)]="text" name="text">

<button (click)="obtenerDatos(text)" class="btn btn-success">Buscar</button>
  

  <table class="table table-bordered border-primary bg-black text-white">
    <thead>
      <tr *ngIf="lo > 1">
        <th scope="col">id</th>
        <th scope="col">nombre</th>
        <th scope="col">enlace</th>
        <th scope="col">canal</th>
      </tr>
    </thead>
    <tbody>
       
      <tr  *ngFor="let m of temas">
        <th scope="row">{{m.id}}</th>
        <td >{{m.titulo}}</td>
        <td ><a href="{{m.enlace}}" target="_blank">Ver video</a></td>
        <td>{{m.canal}} <img src="{{m.icono}}" class="card-img-top" alt="Imagen de la música" style="max-width: 100px; max-height: 100px;"></td>

      </tr>
   
    </tbody>
  </table>