<div class="input-group mb-3">
    <input type="text" class="form" placeholder="Buscar película..." [(ngModel)]="nombre">
    <button class="btn btn-secondary" (click)="buscar(nombre)">Buscar</button>
  </div>
  
  <div>
     <h1 >Estrenos 2023</h1>
  </div>
  
  
  
  <section class="movie-carousel">
    <div class="carousel-container">
      <!-- Repite la estructura del contenido de cada película aquí -->
      <div *ngFor="let pelicula of peliculas" class="slide">
        <!-- <a href="https://metagnathtuggers.com/e/tih9hdhfwuo3" target="_blank"> -->
          <a href="../pelicula/{{pelicula.id}}">
          <img src="{{pelicula.imagen}}" alt="{{pelicula.nombre}}">
          <h4>{{pelicula.nombre}}</h4>
        </a>
      </div>
    </div>
  </section>