<div class="video-container">
    <div class="input-group mb-3">
      <input type="text" class="form" placeholder="Buscar película..." [(ngModel)]="nombre">
      <button class="btn btn-secondary" (click)="obtenerPelicula(nombre)">Buscar</button>
    </div>
    <section class="movie-carousel">
      <div class="carousel-container">
        <!-- Repite la estructura del contenido de cada película aquí -->
        <div *ngFor="let pelicula of peliculas" class="slide">
          <a href="https://metagnathtuggers.com/e/tih9hdhfwuo3" target="_blank">
            <img src="{{pelicula.imagen}}" alt="{{pelicula.nombre}}">
            <h3>{{pelicula.nombre}}</h3>
          </a>
        </div>
      </div>
    </section>
  </div>

    <!-- <h1 class="text-white">Estrenos de la semana</h1>
    <h3 class="text-white">Transformers - El Despertar de las Bestias </h3>
    <iframe src="https://metagnathtuggers.com/e/tih9hdhfwuo3" height="450" width="720" webkitAllowFullScreen mozallowfullscreen allowfullscreen frameborder="0" scrolling="no"></iframe>


    <iframe loading="lazy" width="640" height="360" src="https://voe.sx/e/tih9hdhfwuo3" frameborder="0" allowfullscreen=""></iframe>
</div> -->
