<p>amazon works!</p>
<label for="" class="text-white">Nombre: </label>
<input type="text" [(ngModel)]="nombre" name="nombre">
<button (click)="obtenerProducto()" class="btn btn-success"> obtener</button>


<div class="row ">
    <div class="card col-md-4 col-sm-6 " *ngFor="let p of productos">
        <img src={{p.img}} class="card-img-top" alt="Imagen " style="max-width: 300px; max-height: 300px;">
          <h5 class="card-title">{{p.asin}}</h5>
          <button (click)="getOp(p.asin)" class="btn btn-success"> {{p.asin}}</button>
          <p class="card-text">{{p.nombre}}</p>

      </div>
    </div>